<!DOCTYPE html>
<html lang="en">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="https://vaccine-yoshin.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Screening Questionnaire for COVID-19 vaccine(En)" />
    <meta property="og:description" content="You can generate filled the questionnaire form for the COVID-19 vaccination in Japan online." />
    <meta property="og:site_name" content="Screening Questionnaire for COVID-19 vaccine" />
    <meta property="og:image" content="https://vaccine-yoshin.herokuapp.com/assets/ogp.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>Screening Questionnaire for COVID-19 vaccine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCQPWXM7E8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QCQPWXM7E8');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      * {
        font-family: "Lexend Deca", "Noto Sans JP", "Hiragino Sans", "Meiryo", sans-serif;
      }

      .question {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      [class$="show"] {
        background: lightgoldenrodyellow;
        padding: 2em;
      }

      .caution {
        font-size: 1.5em;
        font-weight: 700;
        color: red;
      }

      .invisible {
        display: none;
      }
    </style>
    <script>
      $(function() {
        $('[name="q1"]:radio').on("change", function() {
          if ($('[id=01no]').prop('checked')) {
            $('.q1show').addClass('invisible');
          } else if ($('[id=01yes]').prop('checked')) {
            $('.q1show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q4"]:radio').on("change", function() {
          if ($('[id=04no]').prop('checked')) {
            $('.q4show').addClass('invisible');
          } else if ($('[id=04yes]').prop('checked')) {
            $('.q4show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q5"]:radio').on("change", function() {
          if ($('[id=05no]').prop('checked')) {
            $('.q5show').addClass('invisible');
          } else if ($('[id=05yes]').prop('checked')) {
            $('.q5show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q6"]:radio').on("change", function() {
          if ($('[id=06no]').prop('checked')) {
            $('.q6show').addClass('invisible');
          } else if ($('[id=06yes]').prop('checked')) {
            $('.q6show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q7"]:radio').on("change", function() {
          if ($('[id=07no]').prop('checked')) {
            $('.q7show').addClass('invisible');
          } else if ($('[id=07yes]').prop('checked')) {
            $('.q7show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q9"]:radio').on("change", function() {
          if ($('[id=09no]').prop('checked')) {
            $('.q9show').addClass('invisible');
          } else if ($('[id=09yes]').prop('checked')) {
            $('.q9show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q10"]:radio').on("change", function() {
          if ($('[id=10no]').prop('checked')) {
            $('.q10show').addClass('invisible');
          } else if ($('[id=10yes]').prop('checked')) {
            $('.q10show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q12"]:radio').on("change", function() {
          if ($('[id=12no]').prop('checked')) {
            $('.q12show').addClass('invisible');
          } else if ($('[id=12yes]').prop('checked')) {
            $('.q12show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="maker"]:radio').on("change", function() {
          if ($('[id=astrano]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrayes]').prop('checked')) {
            $('.astra').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="maker"]:radio').on("change", function() {
          if ($('[id=astrano]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrano2]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrayes]').prop('checked')) {
            $('.astra').removeClass('invisible');
          } else if ($('[id=astrayes2]').prop('checked')) {
            $('.astra').removeClass('invisible');
          }
        });
      });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">予診票 ジェネレーター</a>
      </div>
    </nav>
    <a href="https://github.com/mizphses/yosin-generator/wiki">
      <img src="assets/main.svg">
    </a>
    <div class="container">
      <form action="/genpdf" method="post" class="needs-validation" novalidate>
        <div class="question">
          <div class="mb-3">
            <label for="address" class="form-label">在留カード と おなじ 住所 を 書いて ください</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="東京都八王子市東中野７４２番地１" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="name" class="form-label">なまえ(アルファベット Alphabet)</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="水沢　菜音" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="ruby" class="form-label">カタカナ Name</label>
            <input type="text" class="form-control" id="ruby" name="ruby" placeholder="ミズサワ　ナノ" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="phone" class="form-label">電話番号 （ハイフン (-) を いれて ください）</label>
            <input type="text" class="form-control" id="phone" name="phone" pattern="\d{2,4}-\d{3,4}-\d{3,4}" placeholder="080-1234-5678" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="birthdate" class="form-label">うまれた ひ</label>
            <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="2003/02/28" required>
          </div>
        </div>
        <div class="question">
          <label>せいべつ（おとこ/おんな）</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sex" value="male" id="male">
              Male
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sex" value="female" id="female">
              Female
            </label>
           </div>
        <div class="question">
          <label>今日は どの ワクチン を うけますか？</label>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="pfizer" id="astrano" checked>
              Pfizer（ファイザー）・BioNTech（ビオンテック）・Fosun（復星） "Comirnaty"
           </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="moderna" id="astrano2">
              モデルナ（Moderna）・武田薬品(Takeda) 『COVID-19 ワクチンモデルナ（スパイクバックスSpikevax）』
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="astrazeneca" id="astrayes">
              Astra-Zeneca（アストラゼネカ）・オックスフォード大学『バキスゼブリア(Vaxzevria)』</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="maker" va
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="dontknow" id="astrayes2">
             わかりません、きまっていません
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（1）</b>あたらしい コロナ の ワクチン を はじめて うちますか？/１かいめ ですか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q1" id="01no" value="true" checked>
              １かいめ です
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q1" id="01yes" value="false" >
             2かいめ です
            </label>
          </div>
          <div class="mb-3 q1show invisible" id="q1show">
            <label for="firstvaccine" class="form-label">１かいめ を うった のは いつ ですか？</label>
            <input type="date" class="form-control" name="firstvaccine" id="firstvaccine" placeholder="2021/08/03">
            <p class="caution">２かい いじょう うって いる ひとは かかりいん に そうだん して ください</p>
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（2）</b>すんでいる ところ と クーポン の 住所 は おなじ ですか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              はい（おなじ です）
              <input class="form-check-input" type="radio" name="q2" id="02yes" value="true" checked>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              いいえ（ちがう ところ です）
              <input class="form-check-input" type="radio" name="q2" id="02no" value="false">
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（3）</b>『あたらしい コロナワクチン の 説明書』を よんで、効果 や 副反応 に ついて よく わかりましたか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q3" id="03yes" value="true" checked>
              はい（わかりました）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q3" id="03no" value="false">
              いいえ（よく わかりません）
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（4）</b>あなたは はやめに ワクチン を うつ グループ にあてはまりますか？</label>
          <p style="background: #EEE;padding:1em;">びょういん など で はたらいている、60さい いじょう、高齢者施設 で はたらいている、糖尿病 や 心臓病 など の びょうき を ちりょう している ひと など</p>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q4" id="04yes" value="true">
              はい（あてはまります）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q4" id="04no" value="false" checked>
              いいえ（あてはまりません）
            </label>
          </div>
          <div class="mb-3 q4show invisible" id="q4show">
            <label for="firstvaccine" class="form-label">あてはまる ものを <span class="caution">ぜんぶ</span> えらんで ください</label>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-med" value="true" id="medwork">
                びょういん など で はたらいている
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-65" value="true" id="65plus">
                65さい いじょう
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-60" value="true" id="60to64">
                60さい ～ 64さい
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-eld" value="true" id="eldwork">
                高齢者施設 で はたらいている
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-und" value="true" id="underlying">
                びょうき を ちりょう している
              </label>
            </div>
            <div class="mb-3 underlying-addition">
              <label for="name" class="form-label">びょうき の なまえ など:</label>
              <input type="text" class="form-control" name="underlying_sikkan" placeholder="肥満">
            </div>
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（5） </b>いま なにか の びょうき で ちりょう したり くすり を のんだり して いますか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q5" id="05yes" value="true">
              はい
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q5"  id="05no" value="false" checked>
              いいえ
            </label>
          </div>
          <div class="mb-3 q5show invisible" id="q4show">
            <label for="firstvaccine" class="form-label">あてはまる もの を<span class="caution">ぜんぶ</span>えらんで ください</label>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-h" value="true" id="heart">
                しんぞう の びょうき
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-k" value="true" id="kidney">
                じんぞう の びょうき
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-l" value="true" id="liver">
                かんぞう の びょうき
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-b" value="true" id="blood">
                けつえき の びょうき
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-n" value="true" id="blood_notstop">
                ち が とまりにくい びょうき
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-i"  value="true" id="immunodeficiency">
                めんえき の びょうき
              </label>
            </div>
            <div>
              <label class="form-check-label astra">
                <input class="form-check-input" type="checkbox" name="q5-addition-mousai"  value="true" id="mousaikekkann">
                もうさいけっかん の びょうき
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-otc" value="true" id="other_chiryou">
                そのほか の びょうき
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="chiryou" placeholder=""  name="chiryou" >
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-sara" value="true" id="immunodeficiency">
                ち を サラサラ に する くすり を のんでいます（のんでいる くすり の なまえ を 書いて ください）
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="medicine_blood" name="medicine_blood" placeholder="">
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-otm" value="true" id="immunodeficiency">
                そのほか の びょうき で ちりょう を うけたり くすり を のんでいます（のんでいる くすり の なまえ を 書いて ください）
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="touyaku" name="touyaku" placeholder="">
            </div>
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（6） </b>さいきん 30日 で ねつ が 出たり びょうき に なったり しましたか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q6" id="06yes" value="true">
              はい（ねつ が 出たり びょうき に なったり しました）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q6" id="06no" value="false" checked>
              いいえ（ねつ は でて いません、びょうき に なって いません）
            </label>
          </div>
          <div class="mb-3 q6show invisible" id="q6show">
            <label for="sick" class="form-label">どんな びょうき ですか？</label>
            <input type="text" class="form-control" id="sick" name="sick" placeholder="Cold風邪">
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（7）</b>きょう、どこか からだ の ぐあい が わるい ところ が ありますか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q7" id="07yes" value="true">
              はい（ぐあい が わるい です）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q7" id="07no" value="false"  checked>
              いいえ（ぐあい が わるい ところ は ありません）
            </label>
          </div>
          <div class="mb-3 q7show invisible" id="q7show">
            <label for="guai" class="form-label">どこ が どのように ぐあい が わるい ですか？</label>
            <input type="text" class="form-control" id="guai" name="guai" placeholder="have a cough咳がある">
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（8）</b>けいれん（ひきつけ）を おこした こと が ありますか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q8" id="08yes" value="true">
               はい（けいれん・ひきつけ を おこした こと が あります）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q8" id="08no" value="false" checked>
               いいえ（けいれん・ひきつけ を おこした こと は ありません）
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q9.</b>くすり や たべもの など で、ひどい アレルギー（アナフィラキシー など）が 出た こと が ありますか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q9" id="09yes" value="true">
              はい（くすり や たべもの で ひどい アレルギー が 出た こと が あります）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q9" id="09no" value="false" checked>
              いいえ（ひどい アレルギー や アナフィラキシー が 出た こと は ありません）
            </label>
            </label>
          </div>
          <div class="mb-3 q9show invisible" id="q7show">
            <label for="anaphylaxie_item" class="form-label">どんな くすり や たべもの の アナフィラキシー ですか？</label>
            <input type="text" class="form-control" id="anaphylaxie_item" name="anaphylaxie_item" placeholder="そば">
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（10）</b>これまで に 予防接種 を うけて ぐあい が わるく なった こと が ありますか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q10"  id="10yes" value="true">
              はい（ワクチン・予防接種 で ぐあい が わるく なった こと が あります）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q10" id="10no" value="false" checked>
              いいえ（ワクチン・予防接種 で ぐあい が わるく なった こと は ありません）
            </label>
          </div>
          <div class="mb-3 q10show invisible" id="q10show">
            <label for="vaccine_item" class="form-label">なんの 予防接種 ですか？</label>
            <input type="text" class="form-control" id="vaccine_item" name="vaccine_item" placeholder="インフルエンザ">
            <label for="vaccine_sick" class="form-label">How was the Condition?</label>
            <input type="text" class="form-control" id="vaccine_sick" name="vaccine_shoujou" placeholder="倒れました">
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（11）</b>にんしん している、あかちゃん が できている かも しれませんか？ （せいり が おくれて いる など）または、あかちゃん に じゅにゅう・おちち を あげて いますか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q11"  id="11yes" value="true">
              はい（にんしん して いる かも しれません、にんしん して います、あかちゃん に じゅにゅう・おちち を あげて います）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q11"  id="11no" value="false" checked>
              いいえ（にんしん や じゅにゅう を して いません）
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（12）</b>さいきん 2しゅうかん で なにか 予防接種 を うけましたか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q12" id="12yes" value="true" >
              はい（さいきん 2しゅうかん で 予防接種・ワクチン を うけました）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q12" id="12no" value="false" checked>
              いいえ（さいきん 2しゅうかん で 予防接種・ワクチン を うけて いません）
            </label>
          </div>
          <div class="mb-3 q12show invisible" id="q11show">
            <label for="vaccinated_type" class="form-label">どんな 予防接種 ですか？</label>
            <input type="text" class="form-control" id="vaccinated_type" name="vaccinated_type" placeholder="インフルエンザ">
            <label for="vaccinated_type" class="form-label">When is that?</label>
            <input type="date" class="form-control" id="vaccinated_when" name="vaccinated_when" placeholder="2021/10/03">
          </div>
        </div>
        <div class="question">
          <label><b>しつもん（13）</b>きょう の 予防接種 に ついて しつもん が ありますか？</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q13" id="13yes" value="true" >
              はい（しつもん が あります）
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q13"  id="13no" value="false" checked>
              いいえ（しつもん が ありません）
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>こうど な せってい</b>PDF で いんさつ しますか？  QRコード の ファイル に しますか？</label>
          <p style="background: #EEE;padding:1em;">とくに きめられて いない とき は PDF の まま に してください</p>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pdf" id="13yes" value="true" checked>
              PDF
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pdf"  id="13no" value="false">
              QR/きょうゆう モード
            </label>
          </div>
        </div>
        <div class="alert alert-danger">
          この 予診票 は ワクチン接種 を あんぜん に うける ため に 書いて もらって います。
          このこと に ついて よく わかりましたか？ 
          この 予診表 を 市町村 や、国民健康保険中央会 と 国民健康保険団体連合会 に きょうゆう してもいいですか？
          ［ この予診票は接種の安全性の確保を目的としています．このことを理解の上，本予診表が市町村，国民健康保険中央会および国民健康保険団体連合会に提出されることに同意してください．]
        </div>
        <button type="submit" class="btn btn-primary mb-3" onClick="window.alert('Please print with 100% magnification on your printer')">
          この 予診票 に 書いて ある こと に ついて、よく わかりましたので、ワクチン接種 を きぼう します。ですから、この ないよう で 予診票 の PDF を つくります
          [問診票記載の内容を理解し，接種を希望します．ついては，以上の内容で問診票のPDFを作成します]
          </button>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                  }
                  form.classList.add('was-validated')
                }, false)
              })
          })()
        </script>
      </form>
      <div class="alert alert-danger">
        いんさつ する とき は 100%（おなじ 大きさ）の せってい で いんさつ して ください！
      </div>
    </div>
    <footer class="footer" style="background:lightgray;">
      <div class="container">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p class="text-muted">(c)2021- Fuminori Ogawa</p>
        <p>動かす の にも お金 が かかるので、寄付 を お待ちして います：<a href="https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share">https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share</a>（現金 で 寄付 を したい 人 はfuminori@mizphses.comまで）</p>
        <p>Code(Tea-or-Ramen Ware) <a href="https://github.com/mizphses/yosin-generator">https://github.com/mizphses/yosin-generator</a></p>
      </div>
    </footer>
  </body>

</html>
