<!DOCTYPE html>
<html lang="en">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="https://vaccine-yoshin.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Screening Questionnaire for COVID-19 vaccine(En)" />
    <meta property="og:description" content="You can generate filled the questionnaire form for the COVID-19 vaccination in Japan online." />
    <meta property="og:site_name" content="Screening Questionnaire for COVID-19 vaccine" />
    <meta property="og:image" content="https://vaccine-yoshin.herokuapp.com/assets/ogp.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>Screening Questionnaire for COVID-19 vaccine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCQPWXM7E8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QCQPWXM7E8');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      * {
        font-family: "Lexend Deca", "Noto Sans JP", "Hiragino Sans", "Meiryo", sans-serif;
      }

      .question {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      [class$="show"] {
        background: lightgoldenrodyellow;
        padding: 2em;
      }

      .caution {
        font-size: 1.5em;
        font-weight: 700;
        color: red;
      }

      .invisible {
        display: none;
      }
    </style>
    <script>
      $(function() {
        $('[name="q1"]:radio').on("change", function() {
          if ($('[id=01no]').prop('checked')) {
            $('.q1show').addClass('invisible');
          } else if ($('[id=01yes]').prop('checked')) {
            $('.q1show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q4"]:radio').on("change", function() {
          if ($('[id=04no]').prop('checked')) {
            $('.q4show').addClass('invisible');
          } else if ($('[id=04yes]').prop('checked')) {
            $('.q4show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q5"]:radio').on("change", function() {
          if ($('[id=05no]').prop('checked')) {
            $('.q5show').addClass('invisible');
          } else if ($('[id=05yes]').prop('checked')) {
            $('.q5show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q6"]:radio').on("change", function() {
          if ($('[id=06no]').prop('checked')) {
            $('.q6show').addClass('invisible');
          } else if ($('[id=06yes]').prop('checked')) {
            $('.q6show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q7"]:radio').on("change", function() {
          if ($('[id=07no]').prop('checked')) {
            $('.q7show').addClass('invisible');
          } else if ($('[id=07yes]').prop('checked')) {
            $('.q7show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q9"]:radio').on("change", function() {
          if ($('[id=09no]').prop('checked')) {
            $('.q9show').addClass('invisible');
          } else if ($('[id=09yes]').prop('checked')) {
            $('.q9show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q10"]:radio').on("change", function() {
          if ($('[id=10no]').prop('checked')) {
            $('.q10show').addClass('invisible');
          } else if ($('[id=10yes]').prop('checked')) {
            $('.q10show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q12"]:radio').on("change", function() {
          if ($('[id=12no]').prop('checked')) {
            $('.q12show').addClass('invisible');
          } else if ($('[id=12yes]').prop('checked')) {
            $('.q12show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="maker"]:radio').on("change", function() {
          if ($('[id=astrano]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrayes]').prop('checked')) {
            $('.astra').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="maker"]:radio').on("change", function() {
          if ($('[id=astrano]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrano2]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrayes]').prop('checked')) {
            $('.astra').removeClass('invisible');
          } else if ($('[id=astrayes2]').prop('checked')) {
            $('.astra').removeClass('invisible');
          }
        });
      });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Vaccination Questionnaire</a>
        <div>
          <a href="/" class="button">Japanese 日本語</a>
          <a href="/easy_ja" class="button">Easy Japanese やさしい にほんご</a>
          <a href="/korean" class="button">Korean 한국어판</a>
        </div>
      </div>
    </nav>
    <a href="https://github.com/mizphses/yosin-generator/wiki">
      <img src="assets/main.svg">
    </a>
    <div class="container">
      <form action="/genpdf" method="post" class="needs-validation" novalidate>
        <div class="question">
          <div class="mb-3">
            <label for="address" class="form-label">Address written on your resident card</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="東京都八王子市東中野７４２番地１" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="name" class="form-label">Name written on your resident card</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="水沢　菜音" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="ruby" class="form-label">Katakana Name</label>
            <input type="text" class="form-control" id="ruby" name="ruby" placeholder="ミズサワ　ナノ" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="phone" class="form-label">Telephone No., separated by hyphens (-)</label>
            <input type="text" class="form-control" id="phone" name="phone" pattern="\d{2,4}-\d{3,4}-\d{3,4}" placeholder="080-1234-5678" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="birthdate" class="form-label">Date of birth</label>
            <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="2003/02/28" required>
          </div>
        </div>
        <div class="question">
          <label>Sex</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sex" value="male" id="male">
              Male
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sex" value="female" id="female">
              Female
            </label>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="vaccination_date" class="form-label">Date of the vaccination</label>
            <input type="date" class="form-control" id="vaccination_date" name="vaccination_date" placeholder="2003/02/28" required>
            <div class="invalid-feedback">
              Please fill the date of the vaccination
            </div>
          </div>
        </div>
        <div class="question">
          <label>Which vaccine will you get today?</label>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="pfizer" id="astrano" checked>
              Pfizer（ファイザー）・BioNTech（ビオンテック）・Fosun（復星） "Comirnaty"
           </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="moderna" id="astrano2">
              Moderna（モデルナ）・Takeda(武田薬品) "Spikevax (previously COVID-19 Vaccine Moderna)"
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="astrazeneca" id="astrayes">
              Astra-Zeneca（アストラゼネカ）・Oxford Univ. "Vaxzevria"
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="dontknow" id="astrayes2">
              I don't know
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q1.</b>Is this the first time you are receiving the COVID-19 vaccine?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q1" id="01no" value="true" checked>
              This is my first time
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q1" id="01yes" value="false" >
              I have received the COVID-19 vaccine before
            </label>
          </div>
          <div class="mb-3 q1show invisible" id="q1show">
            <label for="firstvaccine" class="form-label">When were you first vaccinated?</label>
            <input type="date" class="form-control" name="firstvaccine" id="firstvaccine" placeholder="2021/08/03">
            <p class="caution">If you have already received the COVID-19 vaccine twice or more, please tell the staff at the venue.</p>
          </div>
        </div>
        <div class="question">
          <label><b>Q2.</b>Is the city, town, or village where you currently reside the same as the city, town, or village stated on the coupon?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              Yes
              <input class="form-check-input" type="radio" name="q2" id="02yes" value="true" checked>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              No
              <input class="form-check-input" type="radio" name="q2" id="02no" value="false">
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q3.</b>Have you read the "Instructions for the COVID-19 vaccine" and do you understand the effects and adverse side
            effects?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q3" id="03yes" value="true" checked>
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q3" id="03no" value="false">
              No
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q4.</b>Do you fall into one of the higher priority target groups for this vaccine?</label>
          <p style="background: #EEE;padding:1em;">Target groups: Medical personnel, People aged 60 years or older, Workers at senior citizen facilities and People with an underlying illness</p>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q4" id="04yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q4" id="04no" value="false" checked>
              No
            </label>
          </div>
          <div class="mb-3 q4show invisible" id="q4show">
            <label for="firstvaccine" class="form-label">Select <span class="caution">ALL</span> that apply</label>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-med" value="true" id="medwork">
                Medical personnel
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-65" value="true" id="65plus">
                65+ years old
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-60" value="true" id="60to64">
                60~64 years old
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-eld" value="true" id="eldwork">
                Worker at a senior citizen facility
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-und" value="true" id="underlying">
                Person with an underlying illness
              </label>
            </div>
            <div class="mb-3 underlying-addition">
              <label for="name" class="form-label">Name of the illness</label>
              <input type="text" class="form-control" name="underlying_sikkan" placeholder="肥満">
            </div>
          </div>
        </div>
        <div class="question">
          <label><b>Q5.</b>Are you currently suffering from any kind of illness and receiving treatment or medication?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q5" id="05yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q5"  id="05no" value="false" checked>
              No
            </label>
          </div>
          <div class="mb-3 q5show invisible" id="q4show">
            <label for="firstvaccine" class="form-label">Select <span class="caution">ALL</span> that apply</label>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-h" value="true" id="heart">
                Heart disease
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-k" value="true" id="kidney">
                Kidney disease
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-l" value="true" id="liver">
                Liver disease
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-b" value="true" id="blood">
                Blood disease
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-n" value="true" id="blood_notstop">
                Bleeding disorders
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-i"  value="true" id="immunodeficiency">
                Immune deficiency
              </label>
            </div>
            <div>
              <label class="form-check-label astra">
                <input class="form-check-input" type="checkbox" name="q5-addition-mousai"  value="true" id="mousaikekkann">
                Capillary leak syndrome
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-otc" value="true" id="other_chiryou">
                Other illnesses
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="chiryou" placeholder=""  name="chiryou" >
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-sara" value="true" id="immunodeficiency">
                Blood-thinning medicine: (If you checked, please write the name of the medicine below)
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="medicine_blood" name="medicine_blood" placeholder="">
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-otm" value="true" id="immunodeficiency">
                Other treatments: (If you checked, please write the name of the medicine below)
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="touyaku" name="touyaku" placeholder="">
            </div>
          </div>
        </div>
        <div class="question">
          <label><b>Q6.</b>Have you had a fever or been sick in the last month?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q6" id="06yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q6" id="06no" value="false" checked>
              No
            </label>
          </div>
          <div class="mb-3 q6show invisible" id="q6show">
            <label for="sick" class="form-label">What kind of illness?</label>
            <input type="text" class="form-control" id="sick" name="sick" placeholder="Cold風邪">
          </div>
        </div>
        <div class="question">
          <label><b>Q7.</b>Are you feeling sick today?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q7" id="07yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q7" id="07no" value="false"  checked>
              No
            </label>
          </div>
          <div class="mb-3 q7show invisible" id="q7show">
            <label for="guai" class="form-label">What are your symptoms?</label>
            <input type="text" class="form-control" id="guai" name="guai" placeholder="have a cough咳がある">
          </div>
        </div>
        <div class="question">
          <label><b>Q8.</b>Have you ever had a convulsion (seizure)?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q8" id="08yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q8" id="08no" value="false" checked>
              No
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q9.</b>Have you ever experienced severe allergic symptoms (such as anaphylaxis) from medications or foods?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q9" id="09yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q9" id="09no" value="false" checked>
              No
            </label>
          </div>
          <div class="mb-3 q9show invisible" id="q7show">
            <label for="anaphylaxie_item" class="form-label">Medication or food that caused the problem?</label>
            <input type="text" class="form-control" id="anaphylaxie_item" name="anaphylaxie_item" placeholder="sobaそば">
          </div>
        </div>
        <div class="question">
          <label><b>Q10.</b>Have you ever been sick after receiving a vaccine?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q10"  id="10yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q10" id="10no" value="false" checked>
              No
            </label>
          </div>
          <div class="mb-3 q10show invisible" id="q10show">
            <label for="vaccine_item" class="form-label">Which vaccination?</label>
            <input type="text" class="form-control" id="vaccine_item" name="vaccine_item" placeholder="influenzaインフルエンザ">
            <label for="vaccine_sick" class="form-label">What were your symptoms?</label>
            <input type="text" class="form-control" id="vaccine_sick" name="vaccine_shoujou" placeholder="I fainted倒れました">
          </div>
        </div>
        <div class="question">
          <label><b>Q11.</b>Is there any possibility that you are currently pregnant (for example, your period is later than expected) or are
            you breastfeeding?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q11"  id="11yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q11"  id="11no" value="false" checked>
              No
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q12.</b>Have you had any vaccines within the last two weeks?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q12" id="12yes" value="true" >
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q12" id="12no" value="false" checked>
              No
            </label>
          </div>
          <div class="mb-3 q12show invisible" id="q11show">
            <label for="vaccinated_type" class="form-label">What vaccine did you receive?</label>
            <input type="text" class="form-control" id="vaccinated_type" name="vaccinated_type" placeholder="influenzaインフルエンザ">
            <label for="vaccinated_type" class="form-label">When were you vaccinated?</label>
            <input type="date" class="form-control" id="vaccinated_when" name="vaccinated_when" placeholder="2021/10/03">
          </div>
        </div>
        <div class="question">
          <label><b>Q13.</b>Do you have any questions about the vaccine today?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q13" id="13yes" value="true" >
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q13"  id="13no" value="false" checked>
              No
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Advanced:</b>Export as a PDF or a sharable QR code?</label>
          <p style="background: #EEE;padding:1em;">PLEASE CHOOSE PDF UNLESS THE STAFF INSTRUCT DIFFERENTLY.</p>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pdf" id="13yes" value="true" checked>
              PDF
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pdf"  id="13no" value="false">
              QR code/Share Mode
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3" onClick="window.alert('Please select 100% (1x) magnification when printing.')">
          The purpose of this preliminary medical examination form is to ensure
          the safety of the vaccine.
          I understand this and consent to this prevaccination Screening
          Questionnaire being submitted to the municipal government, the Japan Federation of National Health Insurance Organizations,
          and the National Health Insurance Organization.
        </button>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                  }
                  form.classList.add('was-validated')
                }, false)
              })
          })()
        </script>
      </form>
      <div class="alert alert-danger">
        Please print on A4 paper (Not Legal) with 100% (1x) magnification.
      </div>
    </div>
    <footer class="footer" style="background:lightgray;">
      <div class="container">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p class="text-muted">(c)2021- Fuminori Ogawa</p>
        <p>動かすのにも金がかかるので寄付お待ちしてます：<a href="https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share">https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share</a>（If you would like to donate with cash, please contact fuminori@mizphses.com）</p>
        <p>Code(Tea-or-Ramen Ware) <a href="https://github.com/mizphses/yosin-generator">https://github.com/mizphses/yosin-generator</a></p>
      </div>
    </footer>
  </body>

</html>
