<!DOCTYPE html>
<html lang="ko">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="https://vaccine-yoshin.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="신종 코로나 백신 예진표 작성 보조툴(Japan)" />
    <meta property="og:description" content="You can generate filled the questionnaire form for the COVID-19 vaccination in Japan online." />
    <meta property="og:site_name" content="신종 코로나 백신 예진표 작성 보조툴 @일본" />
    <meta property="og:image" content="https://vaccine-yoshin.herokuapp.com/assets/ogp-kr.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>신종 코로나 백신 예진표 작성 보조툴 @일본</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCQPWXM7E8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QCQPWXM7E8');
    </script>
    <script>
      (function(d) {
        var config = {
          kitId: 'ftd6yvf',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      * {
        font-family: "Lexend Deca", "omnigothic", "Noto Sans JP", "Hiragino Sans", "Meiryo", sans-serif;
      }

      .question {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      [class$="show"] {
        background: lightgoldenrodyellow;
        padding: 2em;
      }

      .caution {
        font-size: 1.5em;
        font-weight: 700;
        color: red;
      }

      .invisible {
        display: none;
      }
    </style>
    <script>
      $(function() {
        $('[name="q1"]:radio').on("change", function() {
          if ($('[id=01no]').prop('checked')) {
            $('.q1show').addClass('invisible');
          } else if ($('[id=01yes]').prop('checked')) {
            $('.q1show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q4"]:radio').on("change", function() {
          if ($('[id=04no]').prop('checked')) {
            $('.q4show').addClass('invisible');
          } else if ($('[id=04yes]').prop('checked')) {
            $('.q4show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q5"]:radio').on("change", function() {
          if ($('[id=05no]').prop('checked')) {
            $('.q5show').addClass('invisible');
          } else if ($('[id=05yes]').prop('checked')) {
            $('.q5show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q6"]:radio').on("change", function() {
          if ($('[id=06no]').prop('checked')) {
            $('.q6show').addClass('invisible');
          } else if ($('[id=06yes]').prop('checked')) {
            $('.q6show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q7"]:radio').on("change", function() {
          if ($('[id=07no]').prop('checked')) {
            $('.q7show').addClass('invisible');
          } else if ($('[id=07yes]').prop('checked')) {
            $('.q7show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q9"]:radio').on("change", function() {
          if ($('[id=09no]').prop('checked')) {
            $('.q9show').addClass('invisible');
          } else if ($('[id=09yes]').prop('checked')) {
            $('.q9show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q10"]:radio').on("change", function() {
          if ($('[id=10no]').prop('checked')) {
            $('.q10show').addClass('invisible');
          } else if ($('[id=10yes]').prop('checked')) {
            $('.q10show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="q12"]:radio').on("change", function() {
          if ($('[id=12no]').prop('checked')) {
            $('.q12show').addClass('invisible');
          } else if ($('[id=12yes]').prop('checked')) {
            $('.q12show').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="maker"]:radio').on("change", function() {
          if ($('[id=astrano]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrayes]').prop('checked')) {
            $('.astra').removeClass('invisible');
          }
        });
      });
      $(function() {
        $('[name="maker"]:radio').on("change", function() {
          if ($('[id=astrano]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrano2]').prop('checked')) {
            $('.astra').addClass('invisible');
          } else if ($('[id=astrayes]').prop('checked')) {
            $('.astra').removeClass('invisible');
          } else if ($('[id=astrayes2]').prop('checked')) {
            $('.astra').removeClass('invisible');
          }
        });
      });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">예진표 작성 보조툴</a>
        <div>
          <a href="/english" class="button">English</a>
          <a href="/" class="button">Japanese 日本語</a>
        </div>
      </div>
    </nav>
    <a href="https://github.com/mizphses/yosin-generator/wiki">
      <img src="assets/kr_description.png" style="max-width:100%;">
    </a>
    <div style="margin:1em;padding:1.5em;background-color:lightblue">	이 항목은 당신이 쓰기 쉬운 말로 써주십시오. 의료기관에서 다시 한번 일본어로 번역합니다.</div>
    <div class="container">
      <form action="/genpdf" method="post" class="needs-validation" novalidate>
        <div class="question">
          <div class="mb-3">
            <label for="address" class="form-label">주민표&재류카드 등록 주소</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="東京都八王子市東中野７４２番地１" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="name" class="form-label">성함 (재류카드와 동일하게 표기)</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="水沢　菜音" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="ruby" class="form-label">요미가나 (있으신 경우)</label>
            <input type="text" class="form-control" id="ruby" name="ruby" placeholder="ミズサワ　ナノ" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="phone" class="form-label">전화번호 ( - 포함 기재)</label>
            <input type="text" class="form-control" id="phone" name="phone" pattern="\d{2,4}-\d{3,4}-\d{3,4}" placeholder="080-1234-5678" required>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="birthdate" class="form-label">생년월일</label>
            <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="2003/02/28" required>
          </div>
        </div>
        <div class="question">
          <label>성별</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sex" value="male" id="male">
              남
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sex" value="female" id="female">
              여
            </label>
          </div>
        </div>
        <div class="question">
          <div class="mb-3">
            <label for="vaccination_date" class="form-label">접종일</label>
            <input type="date" class="form-control" id="vaccination_date" name="vaccination_date" placeholder="2003/02/28" required>
          </div>
        </div>
        <div class="question">
          <label>이번에 접종하시는 백신은 어느 것입니까?</label>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="pfizer" id="astrano" checked>
              Pfizer(화이자) BioNTech（비온텍）Fosun（포선）’코미나티Comirnaty’
           </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="moderna" id="astrano2">
              Moderna（모더나）다케다약품 ‘코로나19 모더나 백신 (스파이크백스Spikevax)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="astrazeneca" id="astrayes">
              Astra-Zeneca（아스트라제네카）옥스포드 대학 (Vaxzevria)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="maker" value="dontknow" id="astrayes2">
              불명 / 모르겠습니다. / 정해지지 않았습니다.
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q1.</b>신종 코로나 백신 접종 1회차입니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q1" id="01no" value="true" checked>
              1회차입니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q1" id="01yes" value="false" >
              2회차 이상입니다.
            </label>
          </div>
          <div class="mb-3 q1show invisible" id="q1show">
            <label for="firstvaccine" class="form-label">당신은 언제 처음 예방접종을 받았습니까?</label>
            <input type="date" class="form-control" name="firstvaccine" id="firstvaccine" placeholder="2021/08/03">
            <p class="caution">이미 COVID-19 백신을 두 번 이상 접종한 경우 행사장의 직원에게 알려주십시오.</p>
          </div>
        </div>
        <div class="question">
          <label><b>Q2.</b>	현시점을 기준으로 주민표 및 재류카드에 등록 된 주소와 쿠폰에 적힌 시정촌은 같습니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              네. 같은 지자체입니다.
              <input class="form-check-input" type="radio" name="q2" id="02yes" value="true" checked>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              아니오. 다른 지자체입니다.
              <input class="form-check-input" type="radio" name="q2" id="02no" value="false">
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q3.</b>‘신종 코로나 백신 설명서’를 읽고 효과 및 부작용에 대해 이해하셨습니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q3" id="03yes" value="true" checked>
              네.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q3" id="03no" value="false">
              아니오.
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q4.</b>우선 접종 그룹에 해당하십니까?</label>
          <p style="background: #EEE;padding:1em;">우선 접종 그룹에는 의료종사자, 60세이상, 고령자시설등 종사자, 기저질환을 갖고있는 자가 포함됩니다.</p>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q4" id="04yes" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q4" id="04no" value="false" checked>
              No
            </label>
          </div>
          <div class="mb-3 q4show invisible" id="q4show">
            <label for="firstvaccine" class="form-label">	다음 해당하는 것을 <span class="caution">전부</span> 골라주십시오.</label>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-med" value="true" id="medwork">
                의료종사자
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-65" value="true" id="65plus">
                65세이상
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-60" value="true" id="60to64">
                60~64세
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-eld" value="true" id="eldwork">
                고령자 시설등 종사자
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q4-addition-und" value="true" id="underlying">
                기저질환을 갖고 있는 자
              </label>
            </div>
            <div class="mb-3 underlying-addition">
              <label for="name" class="form-label">기저질환이 있으시다면 어떤 질환입니까?</label>
              <input type="text" class="form-control" name="underlying_sikkan" placeholder="Fat">
            </div>
          </div>
        </div>
        <div class="question">
          <label><b>Q5.</b>현재 질환으로 인하여 치료 및 투약등을 받고 계십니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q5" id="05yes" value="true">
              네. 치료를 받거나 투약을 받고 있습니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q5"  id="05no" value="false" checked>
              아니오. 치료나 투약을 받고 있지 않습니다.
            </label>
          </div>
          <div class="mb-3 q5show invisible" id="q4show">
            <label for="firstvaccine" class="form-label">다음 해당하는 것을 <span class="caution">전부</span> 골라주십시오.</label>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-h" value="true" id="heart">
                심장질환
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-k" value="true" id="kidney">
                위장질환
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-l" value="true" id="liver">
                간질환
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-b" value="true" id="blood">
                혈액질환
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-n" value="true" id="blood_notstop">
                피가 잘 멈추지 않는 병
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-i"  value="true" id="immunodeficiency">
                면역부전
              </label>
            </div>
            <div>
              <label class="form-check-label astra">
                <input class="form-check-input" type="checkbox" name="q5-addition-mousai"  value="true" id="mousaikekkann">
                모세혈관누출증후군
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-otc" value="true" id="other_chiryou">
                그 외 치료를 받고 있습니다 : 해당하는 경우 아래 기입
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="chiryou" placeholder=""  name="chiryou" >
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-sara" value="true" id="immunodeficiency">
                피가 안 멈추게 하는 약을 먹고 있습니다. : 사용하는 약을 아래 기입
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="medicine_blood" name="medicine_blood" placeholder="">
            </div>
            <div>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="q5-addition-otm" value="true" id="immunodeficiency">
                그 외 투약치료를 받고 있습니다. : 사용하는 약을 아래 기입
              </label>
            </div>
            <div class="mb-3 other-chiryou">
              <input type="text" class="form-control" id="touyaku" name="touyaku" placeholder="">
            </div>
          </div>
        </div>
        <div class="question">
          <label><b>Q6.</b>	최근 1달 이내에 발열이 있거나 병을 앓은 적이 있으십니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q6" id="06yes" value="true">
              네. 열이 나거나 병을 앓은 적이 있습니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q6" id="06no" value="false" checked>
              아니오. 열이 난 적은 없으며 병을 앓지 않았습니다.
            </label>
          </div>
          <div class="mb-3 q6show invisible" id="q6show">
            <label for="sick" class="form-label">	어떤 증상이었습니까?</label>
            <input type="text" class="form-control" id="sick" name="sick" placeholder="Cold風邪">
          </div>
        </div>
        <div class="question">
          <label><b>Q7.</b>	오늘 몸이 안 좋은 곳이 있으십니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q7" id="07yes" value="true">
              네. 몸 상태가 좋지 않습니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q7" id="07no" value="false"  checked>
              아니오. 몸 상태가 좋습니다.
            </label>
          </div>
          <div class="mb-3 q7show invisible" id="q7show">
            <label for="guai" class="form-label">구체적으로 어떤 증상이 있으십니까?</label>
            <input type="text" class="form-control" id="guai" name="guai" placeholder="have a cough咳がある">
          </div>
        </div>
        <div class="question">
          <label><b>Q8.</b>	경련을 일으키신 적이 있으십니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q8" id="08yes" value="true">
              네. 경련을 일으킨 적이 있습니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q8" id="08no" value="false" checked>
              아니오. 경련을 일으킨 적 없습니다.
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q9.</b>약물이나 음식으로부터 심한 알레르기 증상을 경험한 적이 있습니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q9" id="09yes" value="true">
              네.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q9" id="09no" value="false" checked>
              아니오.
            </label>
          </div>
          <div class="mb-3 q9show invisible" id="q7show">
            <label for="anaphylaxie_item" class="form-label">어떤 약물이나 음식이 문제를 일으켰나요?</label>
            <input type="text" class="form-control" id="anaphylaxie_item" name="anaphylaxie_item" placeholder="sobaそば">
          </div>
        </div>
        <div class="question">
          <label><b>Q10.</b>어떤 약물이나 음식이 문제를 일으켰나요?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q10"  id="10yes" value="true">
              네. 과거에 예방접종 후 몸이 안 좋아진 적이 있습니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q10" id="10no" value="false" checked>
              아니오. 과거에 예방접종 후 몸이 안 좋아진 적이 없습니다.
            </label>
          </div>
          <div class="mb-3 q10show invisible" id="q10show">
            <label for="vaccine_item" class="form-label">	어느 백신을 맞고 안 좋아졌습니까?</label>
            <input type="text" class="form-control" id="vaccine_item" name="vaccine_item" placeholder="influenzaインフルエンザ">
            <label for="vaccine_sick" class="form-label">어떤 증상이 있었습니까??</label>
            <input type="text" class="form-control" id="vaccine_sick" name="vaccine_shoujou" placeholder="I fainted倒れました">
          </div>
        </div>
        <div class="question">
          <label><b>Q11.</b>	현재 임신 가능성이 있습니까? (생리가 예정보다 늦다등) 혹은 수유중입니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q11"  id="11yes" value="true">
              네. 현재 임신 가능성이 있거나 임신했거나 수유중입니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q11"  id="11no" value="false" checked>
              아니오. 임신 및 수유중이 아닙니다.
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>Q12.</b>	2주이내에 접종한 백신이 있습니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q12" id="12yes" value="true" >
              네. 2주이내에 접종한 백신이 있습니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q12" id="12no" value="false" checked>
              아니오. 2주이내에 접종한 백신이 없습니다.
            </label>
          </div>
          <div class="mb-3 q12show invisible" id="q11show">
            <label for="vaccinated_type" class="form-label">어떤 백신을 맞았습니까?</label>
            <input type="text" class="form-control" id="vaccinated_type" name="vaccinated_type" placeholder="influenzaインフルエンザ">
            <label for="vaccinated_type" class="form-label">그게 언제였는데?</label>
            <input type="date" class="form-control" id="vaccinated_when" name="vaccinated_when" placeholder="2021/10/03">
          </div>
        </div>
        <div class="question">
          <label><b>Q13.</b>	오늘 예방 접종에 대해 질문이 있습니까?</label>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q13" id="13yes" value="true" >
              네. 질문이 있습니다.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="q13"  id="13no" value="false" checked>
              아니오. 질문이 없습니다.
            </label>
          </div>
        </div>
        <div class="question">
          <label><b>	고도의 설정 : PDF로 출력하시겠습니까? 쉐어모드로 출력하시겠습니까.</label>
          <p style="background: #EEE;padding:1em;">	지시가 없는 경우에는 PDF를 선택해주십시오.</p>
          <div class="mb-3 form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pdf" id="13yes" value="true" checked>
              PDF
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pdf"  id="13no" value="false">
              QR code/Share Mode(쉐어모드)
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3" onClick="window.alert('Please select 100% (1x) magnification when printing.')">
          이 예진표는 접종의 안전성을 확보하는 것을 목적으로 하고 있습니다. 이를 이해하고 해당 예진표가 시정촌, 국민건강보험중앙회 및 국민건강보험단체연합회에 제출하는 것에 동의합니다. 접종 희망시 PDF파일로 작성됩니다.
        </button>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                  }
                  form.classList.add('was-validated')
                }, false)
              })
          })()
        </script>
      </form>
      <div class="alert alert-danger">
        인쇄할 때에는 A4용지에 100%(1:1)로 인쇄해주십시오.
      </div>
    </div>
    <footer class="footer" style="background:lightgray;">
      <div class="container">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p class="text-muted">(c)2021- Fuminori Ogawa</p>
        <p class="text-muted">翻訳支援・Translation Supported by <a href="https://twitter.com/nemomizuJP">CHOI MIJEONG</a> from <a href="https://covid19-tagengo.com/">COVID-19多言語支援プロジェクト</a></p>
        <p>動かすのにも金がかかるので寄付お待ちしてます：<a href="https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share">https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share</a>（If you would like to donate with cash, please contact fuminori@mizphses.com）</p>
        <p>Code(Tea-or-Ramen Ware) <a href="https://github.com/mizphses/yosin-generator">https://github.com/mizphses/yosin-generator</a></p>
      </div>
    </footer>
  </body>

</html>
