<!DOCTYPE html>
<html lang="ja">

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="https://vaccine-yoshin.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="予診票ジェネレータ(JP)" />
    <meta property="og:description" content="日本国内用の公費で行うファイザー・モデルナ武田ワクチンの接種用予診票がオンラインで作れます．" />
    <meta property="og:site_name" content="予診票ジェネレータ" />
    <meta property="og:image" content="https://vaccine-yoshin.herokuapp.com/assets/ogp.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>予診票ジェネレータ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://raw.githubusercontent.com/cozmo/jsQR/master/dist/jsQR.js">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCQPWXM7E8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QCQPWXM7E8');

    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      * {
        font-family: "Lexend Deca", "Noto Sans JP", "Hiragino Sans", "Meiryo", sans-serif;
      }
      .qrcode{
        max-width: 80vw;
        text-align: center;
        padding: 10px;
      }
      @media (min-width: 900px){
        .qrcode{
          max-width: 30vw;
          text-align: center;
          padding-top: 10px;
        }
      }
    </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">予診票ジェネレータ</a>
      </div>
    </nav>
    <div class="container"><section id="contents">
      <!-- カメラ映像 -->
      <video id="camera" width="300" height="200" muted></video>
    
      <!-- 処理用 -->
      <canvas id="picture" width="300" height="200"></canvas>
    
      <!-- 読み取り結果 -->
      <div id="result">
        <small>※ここに読み取り結果が表示されます※</small>
      </div>
    </section>
    
    <script src="jsQR.min.js"></script>
    <script>
    const video  = $("#camera");     // === document.querySelector("#camera");
    const canvas = $("#picture");    // === document.querySelector("#picture");
    const ctx = canvas.getContext("2d");
    
    window.onload = () => {
      /** カメラ設定 */
      const constraints = {
        audio: false,
        video: {
          width: 300,
          height: 200,
          facingMode: { exact: "environment" }
        }
      };
       navigator.mediaDevices.getUserMedia(constraints)
      .then( (stream) => {
        video.srcObject = stream;
        video.onloadedmetadata = (e) => {
          video.play();
    
          // QRコードのチェック開始
          checkPicture();
        };
      })
      .catch( (err) => {
        console.log(err.name + ": " + err.message);
      });
    };
    
    /**
     * QRコードの読み取り
     */
    function checkPicture(){
      // カメラの映像をCanvasに複写
      ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
      // QRコードの読み取り
      const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
      const code = jsQR(imageData.data, canvas.width, canvas.height);
      //----------------------
      // 存在する場合
      //----------------------
      if( code ){
        // 結果を表示
        setQRResult("#result", code.data);  // 文字列
        drawLine(ctx, code.location);       // 見つかった箇所に線を引く
    
        // video と canvas を入れ替え
        canvas.style.display = 'block';
        video.style.display = 'none';
        video.pause();
      }
      //----------------------
      // 存在しない場合
      //----------------------
      else{
        // 0.3秒後にもう一度チェックする
        setTimeout( () => {
          checkPicture();
        }, 300);
      }
    }
    
    
    /**
     * 発見されたQRコードに線を引く
     *
     * @param {Object} ctx
     * @param {Object} pos
     * @param {Object} options
     * @return {void}
     */
    function drawLine(ctx, pos, options={color:"blue", size:5}){
      // 線のスタイル設定
      ctx.strokeStyle = options.color;
      ctx.lineWidth   = options.size;
    
      // 線を描く
      ctx.beginPath();
      ctx.moveTo(pos.topLeftCorner.x, pos.topLeftCorner.y);         // 左上からスタート
      ctx.lineTo(pos.topRightCorner.x, pos.topRightCorner.y);       // 右上
      ctx.lineTo(pos.bottomRightCorner.x, pos.bottomRightCorner.y); // 右下
      ctx.lineTo(pos.bottomLeftCorner.x, pos.bottomLeftCorner.y);   // 左下
      ctx.lineTo(pos.topLeftCorner.x, pos.topLeftCorner.y);         // 左上に戻る
      ctx.stroke();
    }
    
    /**
     * QRコードの読み取り結果を表示する
     *
     * @param {String} id
     * @param {String} data
     * @return {void}
     */
    function setQRResult(id, data){
      $(id).innerHTML = escapeHTML(data);
    }
    
    /**
     * jQuery style wrapper
     *
     * @param {string} selector
     * @return {Object}
     */
     function $(selector){
      return( document.querySelector(selector) );
    }
    
    /**
     * HTML表示用に文字列をエスケープする
     *
     * @param {string} str
     * @return {string}
     */
    function escapeHTML(str){
      let result = "";
      result = str.replace("&", "&amp;");
      result = str.replace("'", "&#x27;");
      result = str.replace("`", "&#x60;");
      result = str.replace('"', "&quot;");
      result = str.replace("<", "&lt;");
      result = str.replace(">", "&gt;");
      result = str.replace(/\n/, "<br>");
    
      return(result);
    }
    </script>
    </div>
    <footer class="footer" style="background:lightgray;">
      <div class="container">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p class="text-muted">(c)2021- Fuminori Ogawa</p>
        <p>動かすのにも金がかかるので寄付お待ちしてます：<a href="https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share">https://www.amazon.jp/hz/wishlist/ls/2S457RY5ZO29O?ref_=wl_share</a>（現金で寄付をしたい人はfuminori@mizphses.comまで）</p>
        <p>Code(Tea-or-Ramen Ware) <a href="https://github.com/mizphses/yosin-generator">https://github.com/mizphses/yosin-generator</a></p>
      </div>
    </footer>
  </body>

</html>
